@page
@model Residencias.pages.inicio.PrincipalModel
@{
}
<html>
    <head>
      <link rel="stylesheet" href="~/Styles/principal.css" />
         
        <title>Portal de Promociones </title>
    </head>

<body>
    <header id="Header">
        <nav>
            <h1>SNTE 5</h1>
        </nav>

      

    </header>
    <div class="contenedor">
        <section class="list">
            <div>
                <ul>
                   
                   
                    <li><a ><img src="/img/hogar.png"  /> INICIO</a></li>
                    <li><a ><img src="/img/marketing.png" />PROMOCIONES</a></li>
                    <li><a ><img src="/img/contacto.png" />CONTACTO</a></li>
                   
                </ul>
            </div>


        </section>

        <div class="derecha" id="tarea1">
           
              
                <form class="informacion">

                    <h2>Promociones Economicas </h2>

                    <div class="info">
                        <img src="/img/SNTE.jpg" />

                        <p>
                             ¿Quiénes somos? <br />

                            Somos una Organización Sindical a nivel nacional, que surge por acuerdo del Congreso Nacional de Trabajadores de la Educación celebrado en diciembre de 1943,
                            cuya misión es el estudio, defensa y mejoramiento de sus intereses comunes.

                            La agrupación de trabajadores, decide adoptar el nombre de Sindicato Nacional de Trabajadores de la Educación, pudiendo utilizar las siglas S.N.T.E. de manera indistinta.<br />

                            El Sindicato Nacional de Trabajadores de la Educación lo integran trabajadores de base, permanentes, interinos y transitorios al servicio de la educación, dependientes de la Secretaría de Educación Pública,
                            de los gobiernos de los estados, de los municipios, 
                           de empresas del sector privado, de los organismos descentralizados y desconcentrados, así como los jubilados y pensionados del servicio educativo de las entidades citadas.<br />

                           La Organización Sindical cuenta con registro definitivo otorgado por el Tribunal Federal de Conciliación y Arbitraje bajo el número R.S. 43/44; así como el otorgado por los Tribunales Laborales de las entidades federativas
                           que conceden al Comité Ejecutivo Nacional del Sindicato la titularidad de la relación colectiva de trabajo.

                           El domicilio legal del Sindicato Nacional de Trabajadores de la Educación se ubica en la calle República de Venezuela número 44, Colonia Centro en México, Ciudad de México.

                           Por otra parte, el Sindicato se integra por Secciones, mismas que se encuentran ubicadas en cada entidad federativa y cuyo domicilio principal se sitúa en la ciudad capital de cada Estado.

                           Consciente del compromiso que adquiere y de la misión con la que surge, la Organización decide establecer como su lema lo siguiente: “Por la Educación al Servicio del Pueblo”.








                        </p>


                    </div>



                </form>

           

        </div>


    </div>


   
</body>
</html>